---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Agregar foto">
    <main class="flex flex-col w-full justify-center items-center text-center px-4 pt-20 space-y-10">
        <h2 class="text-3xl font-semibold">Agrega la foto que deseas enviar a esa persona especial</h2>
    </main>
</Layout>