---
import Layout from "../layouts/Layout.astro"
import PhotoIcon from "../components/icons/PhotoIcon.astro"
import SectionContainer from "../components/SectionContainer.astro"
---

<Layout title="Agregar foto">
    <main class="flex flex-col w-full justify-center items-center text-center px-4 pt-20 space-y-10">
        <SectionContainer>
            <h2 class="text-2xl font-semibold">Agrega la foto que deseas enviar a esa persona especial</h2>

            <button id="uploadButton" class="flex items-center gap-2 py-3 px-5 bg-gradient-to-r from-purple-900 via-purple-800 to-purple-700 rounded-xl font-bold text-white">
                Seleccionar foto
                <PhotoIcon class="size-6" />
            </button>
    
            <!-- Input oculto para seleccionar la foto -->
            <input type="file" id="fileInput" accept="image/*" class="hidden" />
            
            <!-- Donde se mostrar치 la foto seleccionada -->
            <div class="mt-2">
                <img id="preview" src="" alt="Previsualizaci칩n de la imagen" class="hidden w-32 h-32 object-cover rounded-lg" />
            </div>
        </SectionContainer>

        <SectionContainer>
            
        </SectionContainer>
    </main>
</Layout>

<script>
    const uploadButton = document.getElementById('uploadButton') as HTMLButtonElement;
    const fileInput = document.getElementById('fileInput') as HTMLInputElement;
    const preview = document.getElementById('preview') as HTMLImageElement;

    // Abrir la interfaz de selecci칩n de archivos al hacer clic en el bot칩n
    uploadButton.addEventListener('click', () => {
        fileInput.click(); // Simula un clic en el input de archivo
    });

    // Mostrar la imagen seleccionada en el preview
    fileInput.addEventListener('change', (event) => {
        const input = event.target as HTMLInputElement; 
        if (input.files && input.files[0]) { 
            const file = input.files[0]; 
            const reader = new FileReader(); 
            reader.onload = function(e) {
                preview.src = e.target?.result as string; 
                preview.classList.remove('hidden'); 
            };
            reader.readAsDataURL(file); 
        }
    });
</script>
