---

---

<footer class="flex flex-col items-center justify-center w-full text-center space-y-4 bg-black/40"> 
    <div class="flex flex-row gap-1 items-center justify-center text-xs text-stone-400 py-4">
        <p>
            Con ❤️
        </p>
        <p>
            <a href="https://yeikobu.dev/" class="text-xs text-stone-300 underline">Yeikobu</a>
        </p>
    </div>
</footer>