---

---

<main class="flex flex-col pt-10">
    <footer class="flex flex-col items-center justify-center w-screen text-center space-y-4 bg-black/20 py-4 mt-auto">
        <div class="flex flex-row gap-1 items-center justify-center text-xs text-stone-400">
            <p>Con ❤️</p>
            <p>
                <a href="https://yeikobu.dev/" class="text-xs text-stone-300 underline">Yeikobu</a>
            </p>
        </div>
    </footer>
</main>
