---

---
<main class="flex flex-col w-full justify-center items-center text-center pt-20 px-10">
    <section class="max-w-[350px] relative">
        <img src="/Gengar.png" alt="Gengar" class="absolute bottom-16 size-20 object-contain z-20" />
        <h1 class="relative text-5xl text-balance font-medium z-10">Las rosas del 
            <span class="bg-gradient-to-r from-purple-500 via-purple-400 to-purple-500 text-transparent bg-clip-text font-bold">
                IV° Detonao
            </span>
        </h1>
    </section>
</main>