---
interface Props {
	title: string;
    href: string;
}

const { title, href } = Astro.props;
---

<button><a href={href} class="py-3 px-5 bg-gradient-to-r from-purple-900 to-purple-700 rounded-lg font-bold shadow-lg shadow-black">{title}</a></button>