---
interface Props {
	title: string;
    href: string;
}

const { title, href } = Astro.props;
---

<button>
    <a href={href} class="flex items-center justify-center py-3 px-5 bg-gradient-to-r from-purple-950/80 via-purple-900/90 to-purple-950/90 rounded-xl font-bold backdrop-blur-sm shadow-lg shadow-black">{title} <slot /></a>
</button>