---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;

function checkTimeRemaining() { 
	const targetDate = new Date("2024-11-07T23:59:59").getTime();
	const now = new Date().getTime();
	const timeRemaining = targetDate - now;

	return timeRemaining > 0;
}

const isThereTimeRemaining = checkTimeRemaining();
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="md:max-w-3xl max-w-md h-full md:h-full flex flex-col items-center justify-center mx-auto">
		<Header />
		{ isThereTimeRemaining ? <slot /> : 
		<div class="flex flex-col items-center justify-center text-center pt-20 px-10 min-h-[60vh] md:min-h-[70vh] text-balance space-y-10">
			<h1 class="text-xl font-bold">Ha finalizado el tiempo de reservas</h1>

			<h2 class="text-2xl font-bold">Las rosas serán entrgadas el día 7 y 8 de noviembre</h2>
		</div>
		}
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		background-color: rgb(17, 15, 15);
		color-scheme: dark;
	}
</style>
